* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #f5efe6, #e8ddd0);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}